* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

section {
    background-color: rgb(219, 127, 189);
    border: solid rgba(211, 93, 172, 0.568) 1px ;
}

h1{
    text-align-last: center;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
